<body>
    
    <div class="navbar">
        <img src="assets/logo/IMG-6855.jpg" alt="logo" width="80">
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </div>
    <br>
    <label for=""></label>
    <input type="text" placeholder="Search"/>
    <br>
    <div class="mouthGuard">
        <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrg-I5zMSBuPEJSlxK7twqnoSAMRqQnSTNdA&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Beast Teeth</div>
                  <div class="boil-time">3-5<span class="boil-time">⏱️</span></div>
                  <div class="price">R120.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeS0js7HK8Vv-Ru91tScx77Brycd4tPpJ_sQ&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Red Machine</div>
                  <div class="boil-time">3-5<span class="boil-time">⏱️</span></div>
                  <div class="price">R94.99</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC8vU_f-xhzo6f22_56514jvF11RXwyKRMCw&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Transparent</div>
                  <div class="boil-time">3-5<span class="boil-time">⏱️</span></div>
                  <div class="price">R150.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2BbbEc4S90Q-g3zZ44Ho2fvdSMTz37Igb8Q&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Black Current</div>
                  <div class="boil-time">3-5<span class="boil-time">⏱️</span></div>
                  <div class="price">R174.99</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ2lW7iaEvmoNvZrnPn2Y5EL8nJw0OSjQBkbf8ZyLBdgmbUFc5JZmg95Aw57od3e58clk&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">White Guard</div>
                  <div class="boil-time">3-5<span class="boil-time">⏱️</span></div>
                  <div class="price">R299.99</div>
              </div>
          </li>
      </ul>
    </div>
    <div class="scrumCap">
        <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT3kSSXc6qPhxbMIz07XufK13mh1yuA2kGQg&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Springboks Scrumcap</div>
                  <div class="size">M<span class="boil-time"></span></div>
                  <div class="price">R1299.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOYP-SuBUaNxwRaECgsErqXkzoFJPXTyFy6w&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Red Scrumcap</div>
                  <div class="boil-time">M-L<span class="boil-time"></span></div>
                  <div class="price">R799.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Yeg5wozHkOJm2qsD_IOEiv086iNMWeIqhw&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Explosion Srcumcap</div>
                  <div class="boil-time">S-M<span class="boil-time"></span></div>
                  <div class="price">R950.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUEq0DcJHALKyxOx6ww644uN2CrM4w8dv85w&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">White Scrumcap</div>
                  <div class="boil-time">L<span class="boil-time"></span></div>
                  <div class="price">R2000.95</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa9EbQiaoi8jok-FsNnIwsXoHQ_vNGdF-WcA&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Black Srcumcap</div>
                  <div class="boil-time">XL<span class="boil-time"></span></div>
                  <div class="price">R949.99</div>
              </div>
          </li>
      </ul>
    </div>
    <div class="Cleets">
        <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD1jsOwtOfwoVRQ0oCvXEeDREAnFlnpaqZpQ&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Adidas Xpress</div>
                  <div class="size">UK 10<span class="boil-time"></span></div>
                  <div class="price">R2299.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZuIHqzBIZJohY6BxMD7hWsIZ1obGy2srmLw&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">White Adidas</div>
                  <div class="boil-time">UK 11<span class="boil-time"></span></div>
                  <div class="price">R2799.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5bZKP76fO3Qe2_J5exlU9oZ6WHDpGMDT8Vw&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Lime Puma</div>
                  <div class="boil-time">UK 10<span class="boil-time"></span></div>
                  <div class="price">R1225.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnLeqTIG1aeyVrKnWf_cndaebfkTsk9YaM7zTscBl7z1aGWwa0tlewQS2nbdbgVRe1i9c&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Black Adidas</div>
                  <div class="boil-time">UK 11<span class="boil-time"></span></div>
                  <div class="price">R2500.00</div>
              </div>
          </li>
      </ul>
      <ul>
          <li>
              <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpK2NO3lm-xwu20sGpMGL1GLyUpZQgaismHPnyaauoOaOqr_zJob6D5p4fr8yjrvyGO4Q&usqp=CAU" alt="">
              </a>
              <div class="content">
                  <div class="name">Adidas Blue</div>
                  <div class="boil-time">UK 14<span class="boil-time"></span></div>
                  <div class="price">R1949.99</div>
              </div>
          </li>
      </ul>
    </div>
    <div class="card-container">
        <a class="card">
            <svg class="material-icons" width="24" height="24"></svg>
            <span>More ></span>
            <svg class="material-icons" width="24" height="24"></svg>
        </a>    
        <a class="card">
            <svg class="material-icons" width="24" height="24"></svg>
            <span>Tools ></span>
            <svg class="material-icons" width="24" height="24"></svg>
        </a>    
        <a class="card">
            <svg class="material-icons" width="24" height="24"></svg>
            <span>Deliveries ></span>
            <svg class="material-icons" width="24" height="24"></svg>
        </a>    
    </div>
</body> 