/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: cursive;
    font-size: 18px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/img/theRugbyMe.JPG);
    background-size: cover;
    background-position-x:center;
}